.c-header {
  padding: 13px 0;
  background: #fbe707; }
  .c-header_logo {
    width: 5.49215%;
    float: left;
    margin-top: 10px; }
  .c-header .c-search {
    width: 91.86876%;
    float: right; }
